@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
}
html, body {
    height: 100%;
    min-height: 100%;
}

#header_container{
	position: relative;
	height: 85px;
	min-width: 1050px;
	width: 100%;
	box-shadow: 0.2px 0.2px 5px 0.5px #D0D3D4;
	z-index: 1;
}
#header-top-bar{
	width: 100%;
	height: 20px;
	min-width: 1050px;
	background-color: #242424;
}
#header{
	position: relative;
	width: 1050px;
	height: 65px;
	margin: auto;
	padding:0;
}
#logo{
	float: left;
	height: 65px;
	width: 150px;
	margin: 0px;
}
#nav_menu{
	position: absolute;
	width: auto;
	height: 100%;
	margin: auto;
	padding: 0;
}
#nav_menu ul{
	width: 700px;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#nav_menu ul li{
	display: table-cell;

}
#nav_menu ul li a{
	float: left;
	display: inline;
	text-transform:uppercase;
	font-size: 11.5px;
	letter-spacing: .4px;
	font-weight: bold;
	font-family: helvetica;
	margin: auto;
	text-decoration:none;
	height: 65px;
	line-height: 65px;
	width: 100%;
	text-align:center;
	transition: all 0.1s ease-out;
	color: #898989;
}
#nav_menu ul li a:hover{
	color: #00AAEC;

}

#phone_number{
	height: 65px;
	width: 150px;
	margin: 0;
	color: #898989;
	border:1px dotted black;
	float: right;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#phone_number a{
	text-transform:uppercase;
	font-size: 12px;
	letter-spacing: .4px;
	font-weight: bold;
	font-family: helvetica;
	text-decoration:none;
	color: #898989;
	line-height: 65px;
}
#phone_number_icons{
	width: 40px;
	height: 20px;
	margin-bottom: auto;
	margin-top: auto;
	border:1px dotted black;

}
#phone_number img{

}
#content_wrapper{
	position: relative;
	top: 0px;
	min-height: 500px;
	width: 1050px;
	margin: auto;
}
#content_container{
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
	border: 1px dotted black;
}

#footer_container{
	position: absolute;
	width: 100%;
	min-width: 1050px;
	height: 300px;
	box-shadow: 0.2px 0.2px 5px 0.5px #D0D3D4;
	z-index: 1;
}
#footer{
	position: relative;
	width: 1050px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top:25px;
	margin-bottom: 25px;
	padding: 0;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
#footer p {
    background: #36a2d2;
    padding: 4px 0;
    text-align: center;
    display: block;
    clear: both;
    margin: 0;
    font-family: Verdana;
    font-size: 15px;
    color:white;
}

#footer a {
    color: #969695;
}

#footer .wrapper {
    margin: 0 auto;
    position: relative;
    width: 812px;
    height: 195px;
}

#footer ul {
    display: block;
    margin-bottom: 30px;
}

#footer .bottomMenu .firstone {
    border-left: none;
    padding-left: 0;
}

#footer li {
    float: left;
    width: 160px;
    list-style: none outside none;
    margin: 10px 20px 20px 0px;
    white-space: nowrap;
    height: 15px;
    display: block;
    font-family:Verdana;
    font-weight: normal;
    font-size: 12px;
}

#footer li a {
    text-decoration:none;
    display: block;
    padding: 5px !important;
    margin: -5px 0 !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    transition: all 0.3s ease-out;
    background: #97CAF2;
    overflow: hidden;
    color: white !important;
}

#footer li a:hover {
    text-decoration: none;
    background: #36a2d2 !important;
    color: white !important;
}

#footer li a:visited {
    background: #F2BF97;
}

#footer li a:active {
    background: #C4E1F8;
}

#footer h4 {
    font-size: 15px;
    margin: 0 0 5px 0px;
    text-transform: uppercase;
    color: #838383;
    font-family:Verdana;
}
.bottomMenu {
	padding-left: 10px;
	padding-right: 10px;
    float: left;
    display: inline-block;
    width: 1030px;
}